<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         backupStaticProperties="false"
         bootstrap="vendor/autoload.php"
         colors="true"

         processIsolation="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
         cacheDirectory=".phpunit.result.cache"
         >
  <testsuites>
    <testsuite name="overtrue/pinyin Test Suite (All PHP version)">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
